<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.house.mapper.AgencyMapper">
    <sql id="agencyField">
        a.id,
        a.name,
        a.address,
        a.phone,
        a.email,
        a.about_us,
        a.mobile,
        a.web_site
    </sql>

    <select id="queryEntityByHouseId" resultType="AgencyEntity">
        SELECT
        <include refid="agencyField"></include>
        FROM agency a
        JOIN house_msg b
        ON a.id = b.agent_id
        WHERE b.house_id = #{houseId}
    </select>


</mapper>
